<!doctype html>
<html>
    <head>
        <title>skreweb</title>
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/base/jquery-ui.css" type="text/css" media="all" /> 
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.0.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script>
        <script src="/js/vendor/sink.js"></script>
        <script src="/js/vendor/jquery.knob.js"></script>

        <script src="/js/models/parameter_set_model.js"></script>
        <script src="/js/models/parameter_select_model.js"></script>
        <script src="/js/models/global_parameter_model.js"></script>
        
        <script src="/js/views/parameter_set_view.js"></script>
        <script src="/js/views/parameter_select_view.js"></script>
        <script src="/js/views/global_parameter_view.js"></script>
        
        <script src="/js/dsp/oscillator.js"></script>
        <script src="/js/dsp/audio_engine.js"></script>
        
        <script src="/js/app.js"></script>
        <link rel="stylesheet" href="/css/app.css" />
    </head>
    <body>
        <button onclick="app.audioEngine.init()">START!!</button>
        <div class="container">
            <canvas class="display_canvas"></canvas>
        </div>
        <div class="container">
            <div class="container left" style="margin-right: 5px;">
    		    <canvas id="parameters_canvas" width="360px" height="174px"></canvas>
            </div>
            <div class="container left">
                <ul id="parameter_select" class="menu">
                    <li class="menu_item" id="osc_freq">osc freq</li>
                    <li class="menu_item" id="freq_mod">freq mod</li>
                    <li class="menu_item" id="osc_amp">osc amp</li>
                    <li class="menu_item" id="amp_mod">amp mod</li>
                    <li class="menu_item" id="hpf">hpf</li>
                    <li class="menu_item" id="lpf">lpf</li>
                    <li class="menu_item" id="delay">delay</li>
                    <li class="menu_item" id="feedback">feedback</li>
                </ul>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="container">            
            <!-- knobs: see http://anthonyterrien.com/knob/ -->
            <div class="global_parameter_container">
                <div class="global_parameter">
                    <input type="text" id="global_osc" value="75" class="dial" 
                            data-width="70" data-height="70" 
                            data-angleOffset="-170" data-angleArc="340" />
                </div>
                <div class="global_parameter">
                    <label for="global_osc" class="global_parameter">osc</label>
                </div>
            </div>
            <div class="global_parameter_container">
                <div class="global_parameter">
                    <input type="text" id="global_filter" value="75" class="dial"
                            data-width="70" data-height="70" 
                            data-angleOffset="-170" data-angleArc="340" />
                </div>
                <div class="global_parameter">
                    <label for="global_filter" class="global_parameter">filter</label>
                </div>
            </div>
            <div class="global_parameter_container">
                <div class="global_parameter">
                    <input type="text" id="global_delay" value="75" class="dial"
                            data-width="70" data-height="70" 
                            data-angleOffset="-170" data-angleArc="340" />
                </div>
                <div class="global_parameter">
                    <label for="global_delay" class="global_parameter">delay</label>
                </div>
            </div>
            <div class="global_parameter_container">
                <div class="global_parameter">
                    <input type="text" id="global_flow" value="75" class="dial"
                            data-width="70" data-height="70" 
                            data-angleOffset="-170" data-angleArc="340" />
                </div>
                <div class="global_parameter">
                    <label for="global_flow" class="global_parameter">flow</label>
                </div>
            </div>
            <div class="global_parameter_container">
                <div class="global_parameter">
                    <input type="text" id="global_out" value="75" class="dial" 
                            data-width="70" data-height="70" 
                            data-angleOffset="-170" data-angleArc="340" />
                </div>
                <div class="global_parameter">
                    <label for="global_out" class="global_parameter">out</label>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <script>
            var app = null;
            
            $(function() {
                app = new Application({
                    parameter_set: $("#parameters_canvas").get(0),
                    parameter_select: $("#parameter_select").get(0),
                    global_parameter_osc: $("#global_osc").get(0),
                    global_parameter_filter: $("#global_filter").get(0),
                    global_parameter_delay: $("#global_delay").get(0),
                    global_parameter_flow: $("#global_flow").get(0),
                    global_parameter_out: $("#global_out").get(0)
                });
                
                app.init();
            });
        </script>
    </body>
</html>