<!doctype html>
<html>
    <head>
        <title>skreweb</title>
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/base/jquery-ui.css" type="text/css" media="all" /> 
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.0.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script>
        <script src="/js/assets/Audiolet.js"></script>

        <script src="/js/models/parameter_set_model.js"></script>
        <script src="/js/models/parameter_select_model.js"></script>
        
        <script src="/js/views/parameter_set_view.js"></script>
        <script src="/js/views/parameter_select_view.js"></script>
        
        <script src="/js/app.js"></script>
        <link rel="stylesheet" href="/css/app.css" />
    </head>
    <body>
        <h1>
            skreweb
        </h1>
        
        <div class="container">
            <div class="container left">
    		    <canvas id="parameters_canvas" width="500px" height="238px"></canvas>
            </div>
            <div class="container left">
                <ul id="parameter_select" class="menu">
                    <li class="menu_item" id="osc_freq">Osc Freq</li>
                    <li class="menu_item" id="freq_mod">Freq Mod</li>
                    <li class="menu_item" id="osc_amp">Osc Amp</li>
                    <li class="menu_item" id="amp_mod">Amp Mod</li>
                    <li class="menu_item" id="hpf">HPF</li>
                    <li class="menu_item" id="lpf">LPF</li>
                    <li class="menu_item" id="delay">Delay</li>
                    <li class="menu_item" id="feedback">Feedback</li>
                </ul>
            </div>
        </div>
        
        <div style="clear:both;"></div>
        <script>
            $(function() {
                var app = new Application({
                    parameter_set: $("#parameters_canvas").get(0),
                    parameter_select: $("#parameter_select").get(0)
                });
                
                app.init();
            });
        </script>
    </body>
</html>