#parameters_canvas {
    border: solid 1px #ccc;
}

div.container {
    padding: 2px 0 0 0;
}

div.global_parameter_container {
    text-align: center;
    padding-top: 10px;
    margin-right: 5px;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    float: left;
}

label.global_parameter {
    color: blue;
    text-transform: uppercase;
}

ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

li.menu_item {
    border: 1px solid #ccc;
    padding: 1px 5px 1px 5px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    color: blue;
}

li.selected {
    background-color: #ff0;
}

input.dial {
    
}

.left {
    float:left;
    padding-right: 5px;
}

